<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ asset('') }}"
  data-template="vertical-menu-template">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <link rel="stylesheet" href="{{ asset('css/pack-cards.css') }}">
    <title>Personnels</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon/favicon.ico') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="{{ asset('vendor/fonts/fontawesome.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/fonts/tabler-icons.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/fonts/flag-icons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('vendor/css/rtl/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('vendor/css/rtl/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/node-waves/node-waves.css') }}" />
    <link rel="stylesheet" href="{{ asset('/vendor/libs/typeahead-js/typeahead.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/libs/apex-charts/apex-charts.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/libs/swiper/swiper.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/libs/datatables-bs5/datatables.bootstrap5.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css') }}" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="{{ asset('vendor/css/pages/cards-advance.css') }}" />
    
    <!-- Helpers -->
    <script src="{{ asset('vendor/js/helpers.js') }}"></script>
    <script src="{{ asset('vendor/js/template-customizer.js') }}"></script>
    <script src="{{ asset('js/config.js') }}"></script>

    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                                    fill="#7367F0" />
                                <path
                                    opacity="0.06"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                                    fill="#161616" />
                                <path
                                    opacity="0.06"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                                    fill="#161616" />
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                                    fill="#7367F0" />
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold">Golden Touch</span>
                    </a>

                   
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Packs -->
                    <li class="menu-item active">
                        <a href="{{ path('admin_pack_index') }}" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-package"></i>
                            <div data-i18n="Packs">Packs</div>
                        </a>
                    </li>

                    <!-- Gestion Événements -->
                    <li class="menu-item">
                        <a href="{{ path('app_events_admin') }}" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-calendar-event"></i>
                            <div data-i18n="Gestion Événements">Gestion Événements</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="{{ path('app_add_event') }}" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Ajouter Événement">Ajouter Événement</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="liste-evenements.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Liste Événements">Liste Événements</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Gestion Matérielle -->
                    <li class="menu-item">
                        <a href="{{ path('app_materielss') }}" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-tools"></i>
                            <div data-i18n="Gestion Matérielle">Gestion Matérielle</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="ajouter-materiel.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Ajouter Matériel">Ajouter Matériel</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="liste-materiel.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Liste Matériel">Liste Matériel</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Gestion Lieu -->
                    <li class="menu-item">
                        <a href="{{ path('admin_lieu_index') }}" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-map-pin"></i>
                            <div data-i18n="Gestion Lieu">Gestion Lieu</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="ajouter-lieu.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Ajouter Lieu">Ajouter Lieu</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="liste-lieux.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Liste Lieux">Liste Lieux</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Gestion Personnels -->
                    <li class="menu-item">
                        <a href="{{ path('app_perso_index') }}" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-users"></i>
                            <div data-i18n="Gestion Personnels">Gestion Personnels</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="ajouter-personnel.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Ajouter Personnel">Ajouter Personnel</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="liste-personnels.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Liste Personnels">Liste Personnels</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Gestion Commandes -->
                    <li class="menu-item">
                        <a href="{{ path('app_my_Commandes_admin') }}" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
                            <div data-i18n="Gestion Commandes">Gestion Commandes</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="panier.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Panier">Panier</div>
                                    <div class="badge bg-label-primary rounded-pill ms-auto">3</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="liste-commandes.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Liste Commandes">Liste Commandes</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="liste-reclamations.html" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-circle"></i>
                                    <div data-i18n="Liste Réclamations">Liste Réclamations</div>
                                    <div class="badge bg-label-warning rounded-pill ms-auto">2</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Divider -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Compte</span>
                    </li>

                    <!-- Compte -->
                    <li class="menu-item">
                        <a href="compte.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-user"></i>
                            <div data-i18n="Mon Compte">Mon Compte</div>
                        </a>
                    </li>

                    <!-- Déconnexion -->
                    <li class="menu-item">
                        <a href="deconnexion.html" class="menu-link">
                            <i class="menu-icon tf-icons ti ti-logout"></i>
                            <div data-i18n="Déconnexion">Déconnexion</div>
                        </a>
                    </li>
                </ul>
            </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="ti ti-menu-2 ti-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item navbar-search-wrapper mb-0">
                  <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);">
                    <i class="ti ti-search ti-md me-2"></i>
                    <span class="d-none d-md-inline-block text-muted">Search (Ctrl+/)</span>
                  </a>
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Language -->
                <li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <i class="fi fi-us fis rounded-circle me-1 fs-3"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                        <i class="fi fi-us fis rounded-circle me-1 fs-3"></i>
                        <span class="align-middle">English</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                        <i class="fi fi-fr fis rounded-circle me-1 fs-3"></i>
                        <span class="align-middle">French</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="de">
                        <i class="fi fi-de fis rounded-circle me-1 fs-3"></i>
                        <span class="align-middle">German</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);" data-language="pt">
                        <i class="fi fi-pt fis rounded-circle me-1 fs-3"></i>
                        <span class="align-middle">Portuguese</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ Language -->

                <!-- Style Switcher -->
                <li class="nav-item me-2 me-xl-0">
                  <a class="nav-link style-switcher-toggle hide-arrow" href="javascript:void(0);">
                    <i class="ti ti-md"></i>
                  </a>
                </li>
                <!--/ Style Switcher -->

                <!-- Quick links  -->
                <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false">
                    <i class="ti ti-layout-grid-add ti-md"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end py-0">
                    <div class="dropdown-menu-header border-bottom">
                      <div class="dropdown-header d-flex align-items-center py-3">
                        <h5 class="text-body mb-0 me-auto">Shortcuts</h5>
                        <a
                          href="javascript:void(0)"
                          class="dropdown-shortcuts-add text-body"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Add shortcuts"
                          ><i class="ti ti-sm ti-apps"></i
                        ></a>
                      </div>
                    </div>
                    <div class="dropdown-shortcuts-list scrollable-container">
                      <div class="row row-bordered overflow-visible g-0">
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-calendar fs-4"></i>
                          </span>
                          <a href="app-calendar.html" class="stretched-link">Calendar</a>
                          <small class="text-muted mb-0">Appointments</small>
                        </div>
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-file-invoice fs-4"></i>
                          </span>
                          <a href="app-invoice-list.html" class="stretched-link">Invoice App</a>
                          <small class="text-muted mb-0">Manage Accounts</small>
                        </div>
                      </div>
                      <div class="row row-bordered overflow-visible g-0">
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-users fs-4"></i>
                          </span>
                          <a href="app-user-list.html" class="stretched-link">User App</a>
                          <small class="text-muted mb-0">Manage Users</small>
                        </div>
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-lock fs-4"></i>
                          </span>
                          <a href="app-access-roles.html" class="stretched-link">Role Management</a>
                          <small class="text-muted mb-0">Permission</small>
                        </div>
                      </div>
                      <div class="row row-bordered overflow-visible g-0">
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-chart-bar fs-4"></i>
                          </span>
                          <a href="index.html" class="stretched-link">Dashboard</a>
                          <small class="text-muted mb-0">User Profile</small>
                        </div>
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-settings fs-4"></i>
                          </span>
                          <a href="pages-account-settings-account.html" class="stretched-link">Setting</a>
                          <small class="text-muted mb-0">Account Settings</small>
                        </div>
                      </div>
                      <div class="row row-bordered overflow-visible g-0">
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-help fs-4"></i>
                          </span>
                          <a href="pages-help-center-landing.html" class="stretched-link">Help Center</a>
                          <small class="text-muted mb-0">FAQs & Articles</small>
                        </div>
                        <div class="dropdown-shortcuts-item col">
                          <span class="dropdown-shortcuts-icon rounded-circle mb-2">
                            <i class="ti ti-square fs-4"></i>
                          </span>
                          <a href="modal-examples.html" class="stretched-link">Modals</a>
                          <small class="text-muted mb-0">Useful Popups</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <!-- Quick links -->

                <!-- Notification -->
                <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                    data-bs-auto-close="outside"
                    aria-expanded="false">
                    <i class="ti ti-bell ti-md"></i>
                    <span class="badge bg-danger rounded-pill badge-notifications">5</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end py-0">
                    <li class="dropdown-menu-header border-bottom">
                      <div class="dropdown-header d-flex align-items-center py-3">
                        <h5 class="text-body mb-0 me-auto">Notification</h5>
                        <a
                          href="javascript:void(0)"
                          class="dropdown-notifications-all text-body"
                          data-bs-toggle="tooltip"
                          data-bs-placement="top"
                          title="Mark all as read"
                          ><i class="ti ti-mail-opened fs-4"></i
                        ></a>
                      </div>
                    </li>
                    <li class="dropdown-notifications-list scrollable-container">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <img src="{{ asset('img/avatars/1.png') }}" alt class="h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">Congratulation Lettie 🎉</h6>
                              <p class="mb-0">Won the monthly best seller gold badge</p>
                              <small class="text-muted">1h ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-danger">CF</span>
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">Charles Franklin</h6>
                              <p class="mb-0">Accepted your connection</p>
                              <small class="text-muted">12hr ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <img src="{{ asset('img/avatars/2.png') }}" alt class="h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">New Message ✉️</h6>
                              <p class="mb-0">You have new message from Natalie</p>
                              <small class="text-muted">1h ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-success"
                                  ><i class="ti ti-shopping-cart"></i
                                ></span>
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">Whoo! You have new order 🛒</h6>
                              <p class="mb-0">ACME Inc. made new order $1,154</p>
                              <small class="text-muted">1 day ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <img src="{{ asset('img/avatars/9.png') }}" alt class="h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">Application has been approved 🚀</h6>
                              <p class="mb-0">Your ABC project application has been approved.</p>
                              <small class="text-muted">2 days ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-success"
                                  ><i class="ti ti-chart-pie"></i
                                ></span>
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">Monthly report is generated</h6>
                              <p class="mb-0">July monthly financial report is generated</p>
                              <small class="text-muted">3 days ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <img src="{{ asset('img/avatars/5.png') }}" alt class="h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">Send connection request</h6>
                              <p class="mb-0">Peter sent you connection request</p>
                              <small class="text-muted">4 days ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <img src="{{ asset('img/avatars/6.png') }}" alt class="h-auto rounded-circle" />
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">New message from Jane</h6>
                              <p class="mb-0">Your have new message from Jane</p>
                              <small class="text-muted">5 days ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                          <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                              <div class="avatar">
                                <span class="avatar-initial rounded-circle bg-label-warning"
                                  ><i class="ti ti-alert-triangle"></i
                                ></span>
                              </div>
                            </div>
                            <div class="flex-grow-1">
                              <h6 class="mb-1">CPU is running high</h6>
                              <p class="mb-0">CPU Utilization Percent is currently at 88.63%,</p>
                              <small class="text-muted">5 days ago</small>
                            </div>
                            <div class="flex-shrink-0 dropdown-notifications-actions">
                              <a href="javascript:void(0)" class="dropdown-notifications-read"
                                ><span class="badge badge-dot"></span
                              ></a>
                              <a href="javascript:void(0)" class="dropdown-notifications-archive"
                                ><span class="ti ti-x"></span
                              ></a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="dropdown-menu-footer border-top">
                      <a
                        href="javascript:void(0);"
                        class="dropdown-item d-flex justify-content-center text-primary p-2 h-px-40 mb-1 align-items-center">
                        View all notifications
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ Notification -->

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ asset('img/avatars/1.png') }}" alt class="h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="pages-account-settings-account.html">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{{ asset('img/avatars/1.png') }}" alt class="h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="pages-profile-user.html">
                        <i class="ti ti-user-check me-2 ti-sm"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="pages-account-settings-account.html">
                        <i class="ti ti-settings me-2 ti-sm"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="pages-account-settings-billing.html">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 ti ti-credit-card me-2 ti-sm"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-label-danger w-px-20 h-px-20"
                            >2</span
                          >
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="pages-help-center-landing.html">
                        <i class="ti ti-lifebuoy me-2 ti-sm"></i>
                        <span class="align-middle">Help</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="pages-faq.html">
                        <i class="ti ti-help me-2 ti-sm"></i>
                        <span class="align-middle">FAQ</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="pages-pricing.html">
                        <i class="ti ti-currency-dollar me-2 ti-sm"></i>
                        <span class="align-middle">Pricing</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-cover.html" target="_blank">
                        <i class="ti ti-logout me-2 ti-sm"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>

            <!-- Search Small Screens -->
            <div class="navbar-search-wrapper search-input-wrapper d-none">
              <input
                type="text"
                class="form-control search-input container-xxl border-0"
                placeholder="Search..."
                aria-label="Search..." />
              <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Titre et boutons alignés à droite -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="fw-bold py-3 mb-0">Personnels</h4>
            <div class="d-flex gap-2">
                <a href="{{ path('app_perso_stats') }}" class="btn btn-outline-primary">
                    <i class="ti ti-chart-pie me-1"></i> Statistiques
                </a>
                <a href="{{ path('oauth_google') }}" class="btn btn-outline-primary">
                    <i class="ti ti-calendar me-1"></i> Google Calendar
                </a>
            </div>
        </div>

        <!-- Boutons et Filtres -->
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <button id="toggleFiltersBtn" class="btn btn-outline-primary">
                        <i class="ti ti-filter me-1"></i> Filtres & Tri
                    </button>
                    
                    <div class="d-flex gap-2">
                        <a href="{{ path('app_perso_new') }}" class="btn btn-primary">
                            <i class="ti ti-plus me-1"></i> Ajouter un personnel
                        </a>
                        <a href="{{ path('app_personnel_export_pdf') }}" class="btn btn-danger">
                            <i class="ti ti-file-text me-1"></i> Exporter PDF
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Filtres et Tri -->
        <div id="filtersContainer" class="row mb-4" style="display: none;">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-3">
                            <!-- Filtre par Statut -->
                            <div class="col-md-3">
                                <label for="statutFilter" class="form-label">Statut</label>
                                <select id="statutFilter" class="form-select">
                                    <option value="">Tous les statuts</option>
                                    <option value="Disponible">Disponible</option>
                                    <option value="Non_disponible">Non_disponible</option>
                                </select>
                            </div>
                            
                            <!-- Filtre par Service -->
                            <div class="col-md-3">
                                <label for="serviceFilter" class="form-label">Service</label>
                                <select id="serviceFilter" class="form-select">
                                    <option value="">Tous les services</option>
                                    <option value="Sécurité">Sécurité</option>
                                    <option value="Décorateur">Décorateur</option>
                                    <option value="Serveur">Serveur</option>
                                    <option value="Organisateur">Organisateur</option>
                                    <option value="Fleuriste">Fleuriste</option>
                                    <option value="Vidéaste">Vidéaste</option>
                                    <option value="Chef">Chef</option>
                                    <option value="Animateur">Animateur</option>
                                </select>
                            </div>
                            
                            <!-- Tri par Attribut -->
                            <div class="col-md-3">
                                <label for="sortBy" class="form-label">Trier par</label>
                                <select id="sortBy" class="form-select">
                                    <option value="">Sélectionner</option>
                                    <option value="nomP">Nom</option>
                                    <option value="prenomP">Prénom</option>
                                    <option value="serviceP">Service</option>
                                    <option value="tarifP">Tarif</option>
                                </select>
                            </div>
                            
                            <!-- Ordre de Tri -->
                            <div class="col-md-2">
                                <label for="sortOrder" class="form-label">Ordre</label>
                                <select id="sortOrder" class="form-select">
                                    <option value="ASC">Croissant</option>
                                    <option value="DESC">Décroissant</option>
                                </select>
                            </div>
                            
                            <!-- Boutons -->
                            <div class="col-md-12 mt-3">
                                <div class="d-flex justify-content-end gap-2">
                                    <button id="applyFilters" class="btn btn-purple">
                                        <i class="ti ti-check me-1"></i> Appliquer
                                    </button>
                                    <button id="resetFilters" class="btn btn-outline-secondary">
                                        <i class="ti ti-refresh me-1"></i> Réinitialiser
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

              <!-- Search Bar -->
              <div class="search-container mb-4">
                <div class="input-group input-group-merge">
                  <span class="input-group-text"><i class="ti ti-search"></i></span>
                  <input type="text" 
                         id="searchInput" 
                         class="form-control" 
                         placeholder="Rechercher un personnel..." 
                         aria-label="Recherche">
                  <button class="btn btn-primary" type="button" id="searchButton">Rechercher</button>
                </div>
                <div id="searchSpinner" class="text-center my-3" style="display:none;">
                  <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Chargement...</span>
                  </div>
                </div>
                <div id="searchResults" class="mt-3"></div>
              </div>

              <!-- Personnel Cards Grid -->
              <div id="defaultContent">
                <div class="row g-4">
                  {% for personnel in personnels %}
                  <div class="col-xl-4 col-lg-6 col-md-6 animate__animated animate__fadeIn">
                    <div class="card personnel-card h-100">
{% if personnel.idP in topPersonnelIds %}
        <div class="top-badge">
            <div class="star-badge">
                <svg class="star-icon" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                </svg>
                <span class="badge-text">TOP</span>
            </div>
        </div>
        {% endif %}
            {% if personnel.idP in topPersonnelIds %}
            <div class="top-badge">
              <div class="star-badge">
                <svg class="star-icon" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
                </svg>
                <span class="badge-text">TOP</span>
              </div>
            </div>
            {% endif %}


                      <!-- Card Header with Service Badge -->
                      <div class="card-header border-bottom position-relative">
                        <span class="badge bg-label-{{ random(['primary', 'secondary', 'success', 'danger', 'warning', 'info']) }}">
                          <i class="ti ti-briefcase me-1"></i> {{ personnel.serviceP|upper }}
                        </span>
                        {% if personnel.tarifP > 100 %}
                        <span class="badge bg-label-warning position-absolute top-0 end-0 mt-3 me-3">
                          <i class="ti ti-crown me-1"></i> PREMIUM
                        </span>
                        {% endif %}
                      </div>
                      
                      <!-- Card Body -->
                      <div class="card-body">
                        <!-- Image au format rectangle -->
                        <div class="pack-image-wrapper mb-3">
                          <img src="{{ asset('uploads/personnel/' ~ personnel.imageUrl|default('default-personnel.jpg')) }}" 
                               class="pack-image" 
                               alt="{{ personnel.nomP }} {{ personnel.prenomP }}">
                        </div>
                        
                        <!-- Name and Title -->
                        <div class="personnel-content text-center">
                          <div class="badge bg-label-primary mb-3">{{ personnel.nomP|upper }} {{ personnel.prenomP|upper }}</div>
                          
                          <!-- Personnel Details -->
                          <div class="personnel-details">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <h6 class="mb-0">Service</h6>
                              <h6 class="mb-0 text-primary">{{ personnel.serviceP }}</h6>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <h6 class="mb-0">Disponibilité</h6>
                              <h6 class="mb-0 text-primary">{{ personnel.statutP }}</h6>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <h6 class="mb-0">Tarif journalier</h6>
                              <h6 class="mb-0 text-primary">{{ personnel.tarifP|number_format(2, '.', ',') }} TND</h6>
                            </div>
                          </div>
                          
                          <!-- Description (truncated) -->
                          <p class="personnel-description mt-3 mb-3">
                            {{ personnel.descriptionP|default('Aucune description disponible')|slice(0, 100) }}...
                          </p>
                        </div>
                      </div>
                      
                      <!-- Card Footer with Action Buttons -->
                      <div class="card-footer">
                        <div class="d-flex gap-2">
                          <a href="{{ path('app_perso_show', {'idP': personnel.idP}) }}" 
                             class="btn btn-outline-primary flex-grow-1 waves-effect waves-light">
                            <i class="ti ti-eye me-1"></i> Détails
                          </a>
                          <a href="{{ path('app_perso_edit', {'idP': personnel.idP}) }}" 
                             class="btn btn-outline-secondary flex-grow-1 waves-effect waves-light">
                            <i class="ti ti-edit me-1"></i> Modifier
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% else %}
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body text-center py-5">
                        <div class="avatar avatar-xl bg-label-secondary rounded-circle mb-3 mx-auto">
                          <i class="ti ti-users-off ti-lg"></i>
                        </div>
                        <h5 class="card-title mb-2">Aucun personnel enregistré</h5>
                        <p class="text-muted mb-4">Commencez par ajouter un nouveau membre à votre équipe</p>
                        <div class="d-flex justify-content-center gap-2">
                          <a href="{{ path('app_perso_new') }}" class="btn btn-primary">
                            <i class="ti ti-plus me-1"></i> Ajouter un personnel
                          </a>
                          <a href="{{ path('app_personnel_export_pdf') }}" class="btn btn-danger">
                            <i class="ti ti-file-text me-1"></i> Exporter PDF
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <!-- Pagination Innovante -->
              {% if personnels is defined and personnels is not empty %}
              <div class="row mt-5">
                <div class="col-12">
                  <div class="pagination-wrapper">
                    {{ knp_pagination_render(personnels, 'pagination/custom_pagination.html.twig') }}
                    
                    <div class="pagination-info text-center mt-3">
                      <span class="badge bg-label-primary">
                        <i class="ti ti-filter me-1"></i>
                        Affichage <strong>{{ personnels.getCurrentPageNumber * personnels.getItemNumberPerPage - personnels.getItemNumberPerPage + 1 }}</strong>
                        à <strong>{{ min(personnels.getCurrentPageNumber * personnels.getItemNumberPerPage, personnels.getTotalItemCount) }}</strong>
                        sur <strong>{{ personnels.getTotalItemCount }}</strong> personnels
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
          <!-- / Content wrapper -->
        </div>
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
      <div class="drag-target"></div>
    </div>

    <!-- Core JS -->
    <script src="{{ asset('/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ asset('/vendor/libs/node-waves/node-waves.js') }}"></script>
    <script src="{{ asset('/vendor/libs/hammer/hammer.js') }}"></script>
    <script src="{{ asset('/vendor/libs/i18n/i18n.js') }}"></script>
    <script src="{{ asset('/vendor/libs/typeahead-js/typeahead.js') }}"></script>
    <script src="{{ asset('/vendor/js/menu.js') }}"></script>
    <script src="{{ asset('/vendor/libs/apex-charts/apexcharts.js') }}"></script>
    <script src="{{ asset('/vendor/libs/swiper/swiper.js') }}"></script>
    <script src="{{ asset('/vendor/libs/datatables-bs5/datatables.bootstrap5.js') }}"></script>

    <!-- Main JS -->
    <script src="{{ asset('/js/main.js') }}"></script>
    <script src="{{ asset('/js/dashboards-analytics.js') }}"></script>

    <style>
      /* ... Vos styles existants ... */

      /* Pagination Innovante */
      .pagination-wrapper {
        position: relative;
        padding: 1rem 0;
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 0;
        margin: 0;
      }

      .page-item {
        margin: 0;
        transition: all 0.3s ease;
      }

      .page-item:not(.active):not(.disabled):hover {
        transform: translateY(-3px);
      }

      .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50% !important;
        border: none;
        background: rgba(105, 108, 255, 0.1);
        color: #696cff;
        font-weight: 600;
        transition: all 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
      }

      .page-link:hover {
        background: rgba(105, 108, 255, 0.2);
        color: #696cff;
      }

      .page-item.active .page-link {
        background: linear-gradient(135deg, #696cff 0%, #9b9dff 100%);
        color: white;
        box-shadow: 0 4px 15px rgba(105, 108, 255, 0.4);
      }

      .page-item.disabled .page-link {
        opacity: 0.5;
        background: #f5f5f5;
      }

      .pagination-info {
        font-size: 0.9rem;
        color: #6c757d;
      }

      /* Animation des cartes */
      .animate__animated {
        animation-duration: 0.5s;
      }

      /* Loader pour pagination AJAX */
      .pagination-loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        border-radius: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
      }

      .pagination-loader.active {
        opacity: 1;
        visibility: visible;
      }

      .pagination-loader .loader {
        width: 40px;
        height: 40px;
        border: 3px solid rgba(105, 108, 255, 0.2);
        border-top-color: #696cff;
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
      }

      @keyframes spin {
        to { transform: rotate(360deg); }
      }

      /* Effet de vague au survol */
      .page-item .wave-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(105, 108, 255, 0.4) 0%, transparent 70%);
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        pointer-events: none;
      }

      .page-item:hover .wave-effect {
        animation: wave 0.6s ease-out;
      }

      @keyframes wave {
        0% { transform: scale(0); opacity: 1; }
        100% { transform: scale(2); opacity: 0; }
      }




       .top-badge {
        position: absolute;
        top: 8px;
        right: 5px;
        z-index: 10;
      }
      
      .star-badge {
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, #FFD700 0%, #FFA500 100%);
        border-radius: 20px;
        padding: 5px 12px 5px 8px;
        box-shadow: 0 4px 15px rgba(255, 215, 0, 0.4);
        animation: pulse 2s infinite, float 3s ease-in-out infinite;
      }
      
      .star-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        animation: spin 8s linear infinite;
        filter: drop-shadow(0 0 2px rgba(0,0,0,0.3));
      }
      
      .badge-text {
        color: #fff;
        font-weight: bold;
        text-shadow: 0 1px 2px rgba(0,0,0,0.3);
      }
      
      @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.1); }
        100% { transform: scale(1); }
      }
      
      @keyframes float {
        0% { transform: translateY(0px); }
        50% { transform: translateY(-5px); }
        100% { transform: translateY(0px); }
      }
      
      @keyframes spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }
      
      .personnel-card {
        position: relative;
        transition: all 0.3s ease;
        overflow: hidden;
      }
      
      .personnel-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
      }
      
      .personnel-card:hover .star-badge {
        animation: pulse 0.5s infinite, float 2s ease-in-out infinite;
      }
    </style>

    {% block javascripts %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Initialisation des variables
        const toggleFiltersBtn = document.getElementById('toggleFiltersBtn');
        const filtersContainer = document.getElementById('filtersContainer');
        const searchInput = document.getElementById('searchInput');
        const searchButton = document.getElementById('searchButton');
        const searchResults = document.getElementById('searchResults');
        const defaultContent = document.getElementById('defaultContent');
        const searchSpinner = document.getElementById('searchSpinner');
        let searchTimeout;

        // Fonction pour basculer l'affichage des filtres
        function toggleFilters() {
          if (filtersContainer.style.display === 'none') {
            filtersContainer.style.display = 'block';
            toggleFiltersBtn.innerHTML = '<i class="ti ti-filter-off me-1"></i> Masquer les filtres';
            toggleFiltersBtn.classList.remove('btn-outline-primary');
            toggleFiltersBtn.classList.add('btn-primary');
          } else {
            filtersContainer.style.display = 'none';
            toggleFiltersBtn.innerHTML = '<i class="ti ti-filter me-1"></i> Filtres & Tri';
            toggleFiltersBtn.classList.remove('btn-primary');
            toggleFiltersBtn.classList.add('btn-outline-primary');
          }
        }

        // Fonction pour appliquer les filtres et le tri
        function applyFiltersAndSort() {
          const statut = document.getElementById('statutFilter').value;
          const service = document.getElementById('serviceFilter').value;
          const sortBy = document.getElementById('sortBy').value;
          const sortOrder = document.getElementById('sortOrder').value;
          
          // Si une recherche est en cours, ne rien faire
          if (searchInput.value.trim().length >= 2) return;
          
          // Masquer le contenu par défaut pendant le chargement
          defaultContent.style.display = 'none';
          searchSpinner.style.display = 'block';
          
          // Construire l'URL avec les paramètres
          let url = '{{ path("app_perso_index") }}?';
          if (statut) url += `statut=${encodeURIComponent(statut)}&`;
          if (service) url += `service=${encodeURIComponent(service)}&`;
          if (sortBy) url += `sort=${encodeURIComponent(sortBy)}&order=${encodeURIComponent(sortOrder)}`;
          
          // Enlever le dernier & si nécessaire
          if (url.endsWith('&')) url = url.slice(0, -1);
          
          fetch(url)
            .then(response => response.text())
            .then(html => {
              // Extraire seulement la partie des cartes du HTML retourné
              const parser = new DOMParser();
              const doc = parser.parseFromString(html, 'text/html');
              const newContent = doc.getElementById('defaultContent');
              
              if (newContent) {
                defaultContent.innerHTML = newContent.innerHTML;
              }
            })
            .catch(error => {
              console.error('Error:', error);
            })
            .finally(() => {
              searchSpinner.style.display = 'none';
              defaultContent.style.display = 'block';
            });
        }

        // Fonction pour réinitialiser les filtres
        function resetFilters() {
          document.getElementById('statutFilter').value = '';
          document.getElementById('serviceFilter').value = '';
          document.getElementById('sortBy').value = '';
          document.getElementById('sortOrder').value = 'ASC';
          
          // Recharger le contenu initial
          fetch('{{ path("app_perso_index") }}')
            .then(response => response.text())
            .then(html => {
              const parser = new DOMParser();
              const doc = parser.parseFromString(html, 'text/html');
              const newContent = doc.getElementById('defaultContent');
              
              if (newContent) {
                defaultContent.innerHTML = newContent.innerHTML;
              }
            });
        }

        // Fonction de recherche
        const performSearch = () => {
          const term = searchInput.value.trim();
          
          if (term.length >= 2) {
            searchSpinner.style.display = 'block';
            searchResults.innerHTML = '';
            defaultContent.style.display = 'none';
            
            fetch(`{{ path('app_personnel_search') }}?q=${encodeURIComponent(term)}`)
              .then(response => {
                if (!response.ok) {
                  throw new Error(`Erreur HTTP: ${response.status}`);
                }
                return response.text();
              })
              .then(html => {
                searchResults.innerHTML = html;
              })
              .catch(error => {
                searchResults.innerHTML = `
                  <div class="alert alert-danger alert-dismissible fade show">
                    <i class="ti ti-alert-octagon me-2"></i>
                    Erreur lors de la recherche: ${error.message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  </div>
                `;
                console.error('Search error:', error);
              })
              .finally(() => {
                searchSpinner.style.display = 'none';
              });
          } else if (term.length === 0) {
            resetSearch();
          }
        };

        const resetSearch = () => {
          searchResults.innerHTML = '';
          defaultContent.style.display = 'block';
          searchSpinner.style.display = 'none';
        };

        // Écouteurs d'événements
        toggleFiltersBtn.addEventListener('click', toggleFilters);
        document.getElementById('applyFilters').addEventListener('click', applyFiltersAndSort);
        document.getElementById('resetFilters').addEventListener('click', resetFilters);

        searchInput.addEventListener('input', () => {
          clearTimeout(searchTimeout);
          searchTimeout = setTimeout(performSearch, 350);
        });

        searchButton.addEventListener('click', performSearch);

        searchInput.addEventListener('keypress', (e) => {
          if (e.key === 'Enter') performSearch();
        });

        searchInput.addEventListener('change', () => {
          if (searchInput.value.trim() === '') resetSearch();
        });

        // Permettre l'application des filtres avec la touche Entrée
        document.querySelectorAll('.form-select').forEach(select => {
          select.addEventListener('keypress', (e) => {
            if (e.key === 'Enter') applyFiltersAndSort();
          });
        });

        // Gestion AJAX de la pagination
        document.addEventListener('click', function(e) {
          const pageLink = e.target.closest('.page-link:not(.disabled)');
          if (pageLink && !e.target.closest('#filtersContainer')) {
            e.preventDefault();
            
            const loader = document.createElement('div');
            loader.className = 'pagination-loader active';
            loader.innerHTML = '<div class="loader"></div>';
            document.getElementById('defaultContent').prepend(loader);
            
            fetch(pageLink.href)
              .then(response => response.text())
              .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                const newContent = doc.getElementById('defaultContent');
                const newPagination = doc.querySelector('.pagination-wrapper');
                
                if (newContent) {
                  document.getElementById('defaultContent').innerHTML = newContent.innerHTML;
                }
                
                if (newPagination) {
                  document.querySelector('.pagination-wrapper').outerHTML = newPagination.outerHTML;
                }
                
                // Animation de scroll
                window.scrollTo({
                  top: document.getElementById('defaultContent').offsetTop - 100,
                  behavior: 'smooth'
                });
              })
              .catch(error => {
                console.error('Error:', error);
              })
              .finally(() => {
                loader.remove();
              });
          }
        });

        // Effet de vague sur les boutons de pagination
        document.querySelectorAll('.page-link').forEach(link => {
          const wave = document.createElement('span');
          wave.className = 'wave-effect';
          link.appendChild(wave);
        });
      });
    </script>
    {% endblock %}
  </body>
</html>